package {{.Package}}

import "github.com/leftathome/glovebox/connector"

// Config holds connector-specific configuration.
type Config struct {
	connector.BaseConfig
	// TODO: add connector-specific config fields
}
